<?php

global $CONFIG;

$CONFIG['database']['name'] = 'swampbotics';
$CONFIG['database']['host'] = 'localhost';
$CONFIG['database']['username'] = 'swampbotics';
$CONFIG['database']['password'] = 'your-password-here';
